* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family-open-sans: "Open Sans", sans-serif;
  --font-family-baloo: "Baloo 2", sans-serif;
  --font-family-leckerli: "Leckerli One", cursive;

  /* TEXT LECKERLI */
  --text-logo: 400 2.5rem/1.6 var(--font-family-leckerli);

  /* TEXT BALOO */
  --text-heading-md: 700 1.75rem/1.6 var(--font-family-baloo);
  --text-heading-sm: 700 1.125rem/1.6 var(--font-family-baloo);

  /* TEXT OPEN-SANS */
  --text-body-md: 500 1rem/1.6 var(--font-family-open-sans);
  --text-body-sm: 500 0.875rem/1.6 var(--font-family-open-sans);
  --text-body-xs: 500 0.75rem/1.6 var(--font-family-open-sans);

  /* BRAND COLORS */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* ACCENT COLORS */
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /* FEEDBACK COLORS*/
  --danger: #ff5959;

  /* INPUT COLORS */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* SHAPE COLORS */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* TEXT COLORS*/
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

body {
  overflow: hidden;

  font: var(--text-body-sm);
  color: var(--text-body);
  background-color: var(--shape-background);
}

h1,
h2 {
  color: var(--text-heading);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
